@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
   font-family: 'Montserrat', sans-serif;
   background-color: rgb(12, 55, 76);
   display: flex;
   justify-content:center;
   align-items: center;
   height: 100vh;
   width: 100vw;

}
.pera{
  color: var(--Light-Color---1, #ffffff);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}
.term{
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--Secondary---1, #F78719);
  font-size: 10px;
  margin: 2px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}